.Home {
    min-height: 100vh;
    display: flex;
    align-items: center;
   
    background-size: cover;
    background-position: center;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the screen without distortion */
    z-index: -1; /* Place the video behind other content */
}
.Home .content{
   max-width: 60rem;
}.Home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Common style for both videos */
#bg-video-mobile {
    display: none; /* Hide the mobile video by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the screen without distortion */
    z-index: -1; /* Place the video behind other content */
}
 

/* On small mobile screens, adjust */
@media (max-width: 768px) {
  .video-container {
    height: 60vh; /* Smaller height on mobile */
  }
}


 

@media (max-width: 768px) {
    .Home {
        height: auto;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

/* Extra Small Screens (Phones Below 480px) */
@media (max-width: 480px) {
    .Home {
        padding: 30px 15px;
    }

    
}


.Home .content {
    max-width: 60rem;
}

.Home .content h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #0d30c9;
}

.Home .content p {
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #b68e66;
}